schemas/afcommand/xsd/AFCommand.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://dint.arbfile.org/standard/v4" targetNamespace="http://dint.arbfile.org/standard/v4" elementFormDefault="qualified">
    <xs:include schemaLocation="AFCommon.xsd"/>
    <xs:element name="AFCommand" type="AFCommand"/>
    <xs:element name="RefreshDemandRequest" type="RefreshDemandRequest"/>
    <xs:complexType name="AFCommand">
        <xs:annotation>
            <xs:documentation> The AFCommand is the root element for all commands sent to AF. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RequesterGuid" type="Guid"/>
            <xs:choice>
                <xs:element name="SubrogationCommand" type="SubrogationCommand"/>
                <xs:element name="ArbitrationCommand" type="ArbitrationCommand"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="cid" type="ConversationId" use="optional"/>
    </xs:complexType>
    <xs:complexType name="SubrogationSource">
        <xs:annotation>
            <xs:documentation>Subrogation and claim information</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="HandlingCocode" type="Cocode" minOccurs="1"/>
            <xs:element name="SubjectCocode" type="Cocode" minOccurs="1"/>
            <xs:element name="SubjectSubsid" type="CompanySubsidCode" minOccurs="0"/>
            <xs:element name="SubjectClaimNumber" type="StringConstraint40" minOccurs="1"/>
            <xs:element name="SubjectInternalReference" type="StringConstraint40" minOccurs="0"/>
            <xs:element name="AdverseClaimNumber" type="StringConstraint40" minOccurs="0"/>
            <xs:choice minOccurs="0">
                <xs:element name="DemandId" type="DemandId"/>
                <xs:element name="SubjectCompanyCaseId" type="CompanyCaseId"/>
            </xs:choice>
            <xs:element name="CaseVersion" type="CaseVersion" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArbitrationSource">
        <xs:annotation>
            <xs:documentation>Arbitration docket information</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="HandlingCocode" type="Cocode" minOccurs="1"/>
            <xs:element name="HandlingSubsid" type="CompanySubsidCode" minOccurs="0"/>
            <xs:element name="SubjectCocode" type="Cocode" minOccurs="1"/>
            <xs:element name="SubjectSubsid" type="CompanySubsidCode" minOccurs="0"/>
            <xs:element name="SubjectClaimNumber" type="StringConstraint40" minOccurs="1"/>
            <xs:choice>
                <xs:element name="DocketNumber" type="DocketNo"/>
                <xs:element name="AFCaseId" type="AFCaseId"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubrogationCommand">
        <xs:annotation>
            <xs:documentation>The entire Demand command including all types</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Source" type="SubrogationSource"/>
            <xs:choice>
                <xs:element name="AcceptDemand" type="AcceptDemand"/>
                <xs:element name="AddFYIMessage" type="MessageCommand"/>
                <xs:element name="AddPayment" type="AddPayment"/>
                <xs:element name="AddPrivateNote" type="MessageCommand"/>
                <xs:element name="CloseDemand" type="CloseDemand"/>
                <xs:element name="CorrectDemand" type="CorrectDemand"/>
                <xs:element name="CounterOffer" type="CounterOffer"/>
                <xs:element name="CreateDemand" type="CreateDemand"/>
                <xs:element name="CreateIssueDemand" type="IssueDemand"/>
                <xs:element name="DenyDemand" type="DenyDemand"/>
                <xs:element name="InitiateArbitration" type="InitiateArbitration"/>
                <xs:element name="PendDemand" type="PendingDemand"/>
                <xs:element name="Ping" type="Ping"/>
                <xs:element name="ReducePayment" type="ReducePayment"/>
                <xs:element name="Reject" type="Reject"/>
                <xs:element name="ReplyToRequestForInfo" type="ReplyToRequestForInfo"/>
                <xs:element name="RequestInformation" type="MessageCommand"/>
                <xs:element name="SettleDemand" type="SettleDemand"/>
                <xs:element name="SubroAttachDocument" type="SubroAttachDocument"/>
                <xs:element name="SupplementDemand" type="SupplementDemand"/>
                <xs:element name="UpdateDemandDetails" type="UpdateDemandDetails"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SubrogationRole">
        <xs:annotation>
            <xs:documentation>A command specific type </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Demander"/>
            <xs:enumeration value="Responder"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ArbitrationRole">
        <xs:annotation>
            <xs:documentation>A command specific type </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Applicant"/>
            <xs:enumeration value="Respondent"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ArbitrationCommand">
        <xs:annotation>
            <xs:documentation>The command used to move documents from subrogation to arbitration</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Source" type="ArbitrationSource"/>
            <xs:choice>
                <xs:element name="ArbAttachDocument" type="ArbAttachDocument"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AssociatedDemandType">
        <xs:annotation>
            <xs:documentation>A command specific type </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Counter"/>
            <xs:enumeration value="Companion"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SubroAttachDocument">
        <xs:annotation>
            <xs:documentation> The SubroAttachDocument command associates evidence-related documents to a Demand based on the specified claimNumber. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="IsPreprocess" type="xs:boolean"/>
            <xs:element name="Documents" type="Documents" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IssueDemand">
        <xs:annotation>
            <xs:documentation> The IssueDemand command issues the specified Demand. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AssociatedDemands" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="AssociatedDemand" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="AssociatedDemandType" type="AssociatedDemandType" minOccurs="1"/>
                                    <xs:choice>
                                        <xs:element name="DemandId" type="DemandId"/>
                                        <xs:element name="CompanyCaseId" type="CompanyCaseId"/>
                                    </xs:choice>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="LossType" type="StringConstraint100" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Incident" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="IncidentState" type="State" minOccurs="1"/>
                        <xs:element name="IncidentLocation" type="StringConstraint100" minOccurs="0"/>
                        <xs:element name="IncidentCity" type="StringConstraint40" minOccurs="0"/>
                        <xs:element name="IncidentDate" type="xs:date" minOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ResponderParty" type="MinimalCompany"/>
            <xs:element name="DemanderDetails" type="DemanderDetails" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ResponderDetails" type="ResponderDetails" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Damages">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice>
                            <xs:element name="AutoDamages" type="Money" minOccurs="0"/>
                            <xs:element name="Comprehensive" type="Money" minOccurs="0"/>
                        </xs:choice>
                        <xs:element name="RentalExpense" type="Money" minOccurs="0"/>
                        <xs:element name="TowingExpense" type="Money" minOccurs="0"/>
                        <xs:element name="OtherExpense" type="Money" minOccurs="0"/>
                        <xs:element name="Deductible" type="Money"/>
                        <xs:element name="TotalLoss" type="xs:boolean"/>
                        <xs:element name="SalvageAmount" type="Money" minOccurs="0"/>
                        <xs:element name="LiabilityPercent" type="NonEmptyPercent"/>
                        <xs:element name="TotalDemand" type="PositiveMoney"/>
                        <xs:element name="Message" type="NonEmptyStringConstraint3900" minOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Documents" type="Documents" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreateDemand">
        <xs:annotation>
            <xs:documentation> The CreateDemand command creates but does not issue the specified Demand. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="LossType" type="StringConstraint100" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Incident" type="Incident" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ResponderParty" type="MinimalCompany" minOccurs="0"/>
            <xs:element name="DemanderDetails" type="DemanderDetails" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ResponderDetails" type="ResponderDetails" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Damages" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice>
                            <xs:element name="AutoDamages" type="Money" minOccurs="0"/>
                            <xs:element name="Comprehensive" type="Money" minOccurs="0"/>
                        </xs:choice>
                        <xs:element name="RentalExpense" type="Money" minOccurs="0"/>
                        <xs:element name="TowingExpense" type="Money" minOccurs="0"/>
                        <xs:element name="OtherExpense" type="Money" minOccurs="0"/>
                        <xs:element name="Deductible" type="Money"/>
                        <xs:element name="TotalLoss" type="xs:boolean"/>
                        <xs:element name="SalvageAmount" type="Money" minOccurs="0"/>
                        <xs:element name="LiabilityPercent" type="NonEmptyPercent"/>
                        <xs:element name="TotalDemand" type="PositiveMoney"/>
                        <xs:element name="Message" type="NonEmptyStringConstraint3900" minOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Documents" type="Documents" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateDemandDetails">
        <xs:annotation>
            <xs:documentation>A Command to update the demand details</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Role" type="SubrogationRole" minOccurs="1"/>
            <xs:element name="Incident" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="IncidentState" type="State" minOccurs="0"/>
                        <xs:element name="IncidentLocation" type="StringConstraint100" minOccurs="0"/>
                        <xs:element name="IncidentCity" type="StringConstraint40" minOccurs="0"/>
                        <xs:element name="IncidentDate" type="xs:date" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DemanderParty" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CompanyCaseId" type="CompanyCaseId" minOccurs="0"/>
                        <xs:element name="Company" type="MinimalCompany" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ResponderParty" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CompanyCaseId" type="CompanyCaseId" minOccurs="0"/>
                        <xs:element name="Company" type="MinimalCompany" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DemanderDetails" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:annotation>
                        <xs:documentation>Detail information of the demand party.</xs:documentation>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element name="ClaimNumber" type="StringConstraint40" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>The claim number of the demand party.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="PolicyNumber" type="StringConstraint40" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>The policy number of the demand party.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="InternalReference" type="StringConstraint40" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>The Internal Reference of the demand party.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="LossFacts" type="String4000" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Loss facts this field only applies if the role is demander. </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Remittance" type="Remittance" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>This section only applies if the role of the demand party is demander.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Insured" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:choice>
                                        <xs:element name="PersonName">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="FirstName" type="StringConstraint40" minOccurs="0"/>
                                                    <xs:element name="LastName" type="StringConstraint40" minOccurs="0"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Company" type="StringConstraint40" minOccurs="0"/>
                                    </xs:choice>
                                    <xs:element name="Type" type="InsuredType" minOccurs="0"/>
                                    <xs:element name="IsDriver" type="xs:boolean" minOccurs="0"/>
                                    <xs:element name="LineOfInsurance" type="LineOfInsurance" minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Driver" type="Driver" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>The driver of the vehilce for the demand party.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="RepresentativeContact" type="SubroRepresentativeContact" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>The contact for the demand party.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ResponderDetails" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:annotation>
                        <xs:documentation>Detail information of the response party.</xs:documentation>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element name="ClaimNumber" type="StringConstraint40" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>The claim number of the responder party.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="PolicyNumber" type="StringConstraint40" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>The policy number of the responder party.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="InternalReference" type="StringConstraint40" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>The Internal Reference of the responder party.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Insured" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:choice>
                                        <xs:element name="PersonName">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="FirstName" type="StringConstraint40" minOccurs="0"/>
                                                    <xs:element name="LastName" type="StringConstraint40" minOccurs="0"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Company" type="StringConstraint40" minOccurs="0"/>
                                    </xs:choice>
                                    <xs:element name="Type" type="InsuredType" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Personal or Commercial insurance.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="IsDriver" type="xs:boolean" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Insured and driver and the same person.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="LineOfInsurance" type="LineOfInsurance" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Line of Insurance indicates if coverage is Auto Liability or General Liability and is used for Special program cases</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Driver" type="Driver" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>The driver of the vehicle for the response party.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="RepresentativeContact" type="SubroRepresentativeContact" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Contact information for response party.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementDemand">
        <xs:annotation>
            <xs:documentation> The SupplDemand command files a supplement against the specified Demand. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Resolved" type="xs:boolean"/>
            <xs:element name="Damages">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice>
                            <xs:element name="AutoDamages" type="Money" minOccurs="0"/>
                            <xs:element name="Comprehensive" type="Money" minOccurs="0"/>
                        </xs:choice>
                        <xs:element name="RentalExpense" type="Money" minOccurs="0"/>
                        <xs:element name="TowingExpense" type="Money" minOccurs="0"/>
                        <xs:element name="OtherExpense" type="Money" minOccurs="0"/>
                        <xs:element name="Deductible" type="Money"/>
                        <xs:element name="TotalLoss" type="xs:boolean"/>
                        <xs:element name="SalvageAmount" type="Money" minOccurs="0"/>
                        <xs:element name="LiabilityPercent" type="NonEmptyPercent"/>
                        <xs:element name="Message" type="NonEmptyStringConstraint3900" minOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Documents" type="Documents" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArbAttachDocument">
        <xs:annotation>
            <xs:documentation> The ArbAttachDocument command associates Evidence-related documents to a Docket based on the specified ClaimNumber. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Documents" type="CommandArbDocuments" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Reject">
        <xs:annotation>
            <xs:documentation> The Reject command to notify the AF system that event has been rejected. </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="DemandPackage" type="DemandPackage"/>
            <xs:element name="RejectDemand" type="RejectDemand"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DemandPackage">
        <xs:annotation>
            <xs:documentation> This element is part of the Reject command to identify what we are rejecting. </xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="RejectDemandPackage">
        <xs:annotation>
            <xs:documentation> The RejectDemandPackage command to notify the AF system that DemandPackage event has been rejected. This command only takes the conversation id. </xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="RejectDemand"/>
    <xs:complexType name="Ping">
        <xs:annotation>
            <xs:documentation> The Ping command to run access the system. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CheckStatus" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingDemand">
        <xs:annotation>
            <xs:documentation> The PendingDemand command to notify that demand is pending investigation. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Message" type="NonEmptyStringConstraint3900"/>
            <xs:element name="PendingType" type="PendingType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DenyDemand">
        <xs:annotation>
            <xs:documentation> The DenyDemand command to notify that demand has been denied. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Message" type="NonEmptyStringConstraint3900"/>
            <xs:element name="DenialType" type="DenialType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CounterOffer">
        <xs:annotation>
            <xs:documentation> This command will take in a CounterRequest object. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Role" type="SubrogationRole" minOccurs="1"/>
            <xs:element name="Damages">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice>
                            <xs:element name="AutoDamages" type="Money" minOccurs="0"/>
                            <xs:element name="Comprehensive" type="Money" minOccurs="0"/>
                        </xs:choice>
                        <xs:element name="RentalExpense" type="Money" minOccurs="0"/>
                        <xs:element name="TowingExpense" type="Money" minOccurs="0"/>
                        <xs:element name="OtherExpense" type="Money" minOccurs="0"/>
                        <xs:element name="Deductible" type="Money"/>
                        <xs:element name="SalvageAmount" type="Money" minOccurs="0"/>
                        <xs:element name="LiabilityPercent" type="NonEmptyPercent"/>
                        <xs:element name="AdmitLiability" type="xs:boolean" minOccurs="0"/>
                        <xs:element name="TotalDemand" type="PositiveMoney"/>
                        <xs:element name="Message" type="NonEmptyStringConstraint3900" minOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MessageCommand">
        <xs:annotation>
            <xs:documentation>The Message command is used to add a priovate note to a Demand</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Role" type="SubrogationRole" minOccurs="1"/>
            <xs:element name="Message" type="NonEmptyStringConstraint3900" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Empty">
        <xs:annotation>
            <xs:documentation>The Empty Type is used when a Command Element doesn't require any data</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="CorrectDemand">
        <xs:annotation>
            <xs:documentation>A Command from the Demander to correct the damages </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Damages">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice>
                            <xs:element name="AutoDamages" type="Money" minOccurs="0"/>
                            <xs:element name="Comprehensive" type="Money" minOccurs="0"/>
                        </xs:choice>
                        <xs:element name="RentalExpense" type="Money" minOccurs="0"/>
                        <xs:element name="TowingExpense" type="Money" minOccurs="0"/>
                        <xs:element name="OtherExpense" type="Money" minOccurs="0"/>
                        <xs:element name="Deductible" type="Money" minOccurs="0"/>
                        <xs:element name="TotalLoss" type="xs:boolean" minOccurs="0"/>
                        <xs:element name="SalvageAmount" type="Money" minOccurs="0"/>
                        <xs:element name="TotalDemand" type="PositiveMoney"/>
                        <xs:element name="Message" type="NonEmptyStringConstraint3900" minOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcceptDemand">
        <xs:annotation>
            <xs:documentation>A Command from either party accepting the Demand or negotiation amount</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Role" type="SubrogationRole" minOccurs="1"/>
            <xs:element name="Message" type="StringConstraint3900" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AddPayment">
        <xs:annotation>
            <xs:documentation>A Command from the Demander to add a payment </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Payment" type="CMDPayment"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CloseDemand">
        <xs:annotation>
            <xs:documentation>A Command from the Demander to close the demand</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Message" type="StringConstraint3900" minOccurs="0"/>
            <xs:element name="CloseDetail" type="CloseDetail"/>
            <xs:element name="Payment" type="CMDPayment" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReplyToRequestForInfo">
        <xs:sequence>
            <xs:element name="Role" type="SubrogationRole" minOccurs="1"/>
            <xs:element name="Message" type="NonEmptyStringConstraint3900" minOccurs="1"/>
            <xs:element name="MarkRequestAsCompleted" type="xs:boolean" default="false" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettleDemand">
        <xs:annotation>
            <xs:documentation>A Command from the Demander to manually settle the demand</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Damages">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice>
                            <xs:element name="AutoDamages" type="Money" minOccurs="0"/>
                            <xs:element name="Comprehensive" type="Money" minOccurs="0"/>
                        </xs:choice>
                        <xs:element name="RentalExpense" type="Money" minOccurs="0"/>
                        <xs:element name="TowingExpense" type="Money" minOccurs="0"/>
                        <xs:element name="OtherExpense" type="Money" minOccurs="0"/>
                        <xs:element name="Deductible" type="Money" minOccurs="0"/>
                        <xs:element name="TotalLoss" type="xs:boolean" minOccurs="0"/>
                        <xs:element name="SalvageAmount" type="Money" minOccurs="0"/>
                        <xs:element name="LiabilityPercent" type="NonEmptyPercent"/>
                        <xs:element name="TotalDemand" type="PositiveMoney"/>
                        <xs:element name="Message" type="NonEmptyStringConstraint3900" minOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CloseDetail" type="CloseDetail" minOccurs="0"/>
            <xs:element name="Payment" type="CMDPayment" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CloseDetail">
        <xs:annotation>
            <xs:documentation>A Command with close information</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CloseType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Abandoned"/>
                        <xs:enumeration value="ArbitrationDocketHeardAndClosed"/>
                        <xs:enumeration value="Denied"/>
                        <xs:enumeration value="FiledInError"/>
                        <xs:enumeration value="FilingArbitration"/>
                        <xs:enumeration value="Inactive"/>
                        <xs:enumeration value="Settled"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Resolved" type="xs:boolean" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CMDPayment">
        <xs:annotation>
            <xs:documentation>Payment detail information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PaymentAmount" type="Money">
                <xs:annotation>
                    <xs:documentation>Amount of payment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GLAcctReference" type="StringConstraint40" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Used to indicate if payment should be posted to specific account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CheckNumber" type="StringConstraint20" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Check number of payment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CheckReceivedDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Date the payment was received.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Comment" type="Text" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Payment comment.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommandArbDocuments">
        <xs:annotation>
            <xs:documentation>Information about the ARB documents.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Document" type="CommandArbDocument" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Information about the ARB document.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommandArbDocument">
        <xs:annotation>
            <xs:documentation>Information about a document</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ContentType" type="ContentType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Lists the mime type for the document. I .e. application/pdf.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="BinaryContent" type="BinaryContent">
                    <xs:annotation>
                        <xs:documentation>The encoded bytes of the document.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FileName" type="StringConstraint255">
                    <xs:annotation>
                        <xs:documentation>Name of the document.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="OriginalFileName" type="StringConstraint255" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The original name of the file.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LogicalDocuments" type="LogicalDocuments" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Logical division of documents.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PreProcessCase">
        <xs:annotation>
            <xs:documentation>Command to preprocess an Arb Case </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Program" type="ProgramType" minOccurs="1"/>
            <xs:element name="Incident" minOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="IncidentState" type="State" minOccurs="1"/>
                        <xs:element name="IncidentCity" type="StringConstraint40" minOccurs="0"/>
                        <xs:element name="IncidentDate" type="xs:date" minOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Applicant" type="PreProcessCaseApplicant" minOccurs="1"/>
            <xs:element name="Respondents" type="PreProcessCaseRespondents" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WithdrawCase">
        <xs:sequence>
            <xs:element name="Comment" type="StringConstraint3900" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PreProcessCaseApplicant">
        <xs:annotation>
            <xs:documentation>Applicant on a PreProcessCase command</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Insured" minOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice>
                            <xs:element name="PersonName">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="FirstName" type="StringConstraint40" minOccurs="0"/>
                                        <xs:element name="LastName" type="StringConstraint40" minOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Company" type="StringConstraint40"/>
                        </xs:choice>
                        <xs:element name="Type" type="InsuredType" minOccurs="0"/>
                        <xs:element name="LineOfInsurance" type="LineOfInsurance" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RepresentativeContact" type="ArbRepresentativeContact" minOccurs="0"/>
            <xs:element name="Remittance" type="Remittance" minOccurs="0"/>
            <xs:element name="Injured" type="Injured" minOccurs="0"/>
            <xs:element name="Contentions" type="xs:string" minOccurs="0"/>
            <xs:element name="Evidence" type="Evidence" minOccurs="0"/>
            <xs:element name="Damages" type="Damages" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PreProcessCaseRespondent">
        <xs:annotation>
            <xs:documentation>Respondent on a PreProcessCase command</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ClaimNumber" type="StringConstraint40" minOccurs="0"/>
            <xs:element name="Company" type="MinimalCompany" minOccurs="0"/>
            <xs:element name="Insured" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice>
                            <xs:element name="PersonName">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="FirstName" type="StringConstraint40" minOccurs="0"/>
                                        <xs:element name="LastName" type="StringConstraint40" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Company" type="StringConstraint40" minOccurs="0"/>
                        </xs:choice>
                        <xs:element name="Type" type="InsuredType" minOccurs="0"/>
                        <xs:element name="LineOfInsurance" type="LineOfInsurance" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RepresentativeContact" type="ArbRepresentativeContact" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PreProcessCaseRespondents">
        <xs:sequence>
            <xs:element name="Respondent" type="PreProcessCaseRespondent" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClaimNumberIdentifier">
        <xs:sequence>
            <xs:element name="SubjectClaimNumber" type="StringConstraint40"/>
            <xs:element name="AdverseClaimNumber" type="StringConstraint40"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RefreshDemandRequest">
        <xs:sequence>
            <xs:choice minOccurs="1">
                <xs:element name="DemandId" type="DemandId"/>
                <xs:element name="SubjectCompanyCaseId" type="CompanyCaseId"/>
                <xs:element name="ClaimNumberIdentifier" type="ClaimNumberIdentifier"/>
            </xs:choice>
            <xs:element name="SubjectCocode" type="Cocode" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InitiateArbitration">
        <xs:sequence>
            <xs:element name="DemandId" type="DemandId"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReducePayment">
        <xs:sequence>
            <xs:element name="Damages">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice>
                            <xs:element name="AutoDamages" type="Money" minOccurs="0"/>
                            <xs:element name="Comprehensive" type="Money" minOccurs="0"/>
                        </xs:choice>
                        <xs:element name="RentalExpense" type="Money" minOccurs="0"/>
                        <xs:element name="TowingExpense" type="Money" minOccurs="0"/>
                        <xs:element name="OtherExpense" type="Money" minOccurs="0"/>
                        <xs:element name="Deductible" type="Money" minOccurs="0"/>
                        <xs:element name="SalvageAmount" type="Money" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="LiabilityPercent" type="NonEmptyPercent"/>
            <xs:element name="AdmitLiability" type="xs:boolean" minOccurs="0"/>
            <xs:element name="Message" type="NonEmptyStringConstraint3900"/>
            <xs:element name="CurrentOffer" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Amount" type="Money"/>
                        <xs:element name="DemandOverrideReason">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Apportionment"/>
                                    <xs:enumeration value="PolicyLimit"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CancelPriorReducedPayment" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>