schemas/afcommand/xsd/AFCommon.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://dint.arbfile.org/standard/v4" targetNamespace="http://dint.arbfile.org/standard/v4" elementFormDefault="qualified">
    <xs:include schemaLocation="AFTypes.xsd"/>
    <xs:element name="Demand" type="Demand">
        <xs:annotation>
            <xs:documentation>Demand detail information.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:simpleType name="Guid">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="ConversationId">
        <xs:restriction base="xs:long"/>
    </xs:simpleType>
    <xs:simpleType name="CaseVersion">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <!--  ====================================  -->
    <!--   Demand-related definitions	       -->
    <!--  ====================================  -->
    <xs:simpleType name="DemandId">
        <xs:annotation>
            <xs:documentation>An AF identifier for the demand. This is unique identifier that can be used to identify the demand in the AF system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:long"/>
    </xs:simpleType>
    <xs:simpleType name="CompanyCaseId">
        <xs:annotation>
            <xs:documentation>The identifier used by the receiving company for the demand. This can be optionally supplied by the demander when issuing the demand.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="StringConstraint100"/>
    </xs:simpleType>
    <xs:complexType name="CarrierFields">
        <xs:sequence>
            <xs:element name="Field" type="CarrierField" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CarrierField">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Incident">
        <xs:sequence>
            <xs:element name="IncidentState" type="State">
                <xs:annotation>
                    <xs:documentation>State of loss the incident took place.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IncidentLocation" type="StringConstraint100" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Location of incident (cross street/intersection).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IncidentCity" type="StringConstraint40" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>City of loss the incident took place.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IncidentDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Date of Loss the incident took place.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssociatedDemands">
        <xs:annotation>
            <xs:documentation>Information on associated demand.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AssociatedDemand" type="AssociatedDemand" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>An id that can be associated to the demand.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssociatedDemand">
        <xs:choice>
            <xs:element name="DemandId" type="DemandId">
                <xs:annotation>
                    <xs:documentation>An AF identifier for the demand. This is unique identifier that can be used to identify the demand in the AF system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CompanyCaseId" type="CompanyCaseId">
                <xs:annotation>
                    <xs:documentation>An identifier that can be used to identify the demand that is provided by the carrier.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Demand">
        <xs:annotation>
            <xs:documentation>Demand detail information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DemandId" type="DemandId" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>An AF identifier for the demand. This is unique identifier that can be used to identify the demand in the AF system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CompanyCaseId" type="CompanyCaseId" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The carriers demand id that can be used to look up the demand. This is specific to each carrier and is only useable by that carrier.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DemandStatus" type="DemandStatus">
                <xs:annotation>
                    <xs:documentation>Status of the demand.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CaseVersion" type="CaseVersion" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Version/Token of the Case.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AssociatedDemands" type="AssociatedDemands" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A list of related companion demands to the demand being created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Incident" type="Incident" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Location the loss took place.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DemandParties" type="DemandParties" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>The parties associated to the demand. i.e. demander, responder</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DemanderDetails" type="DemanderDetails" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Detail information of the demand party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ResponderDetails" type="ResponderDetails" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Detail information of the response party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Negotiations" type="Negotiations" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Negotiation related information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AttachedDocuments" type="AttachedDocuments" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Document information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Negotiations">
        <xs:sequence>
            <xs:element name="Negotiation" type="Negotiation" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Negotiation details.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DemandParties">
        <xs:sequence>
            <xs:element name="DemandParty" type="DemandParty" minOccurs="2" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>The party associated to the demand.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdatedDemandParty">
        <xs:sequence>
            <xs:element name="CompanyCaseId" type="CompanyCaseId" minOccurs="0"/>
            <xs:element name="Company" type="DemandCompany" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DemandParty">
        <xs:sequence>
            <xs:element name="Role" type="DemandPartyRole" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Company" type="DemandCompany" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The company that the demand party belongs to.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DemanderDetails">
        <xs:annotation>
            <xs:documentation>Detail information of the demand party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ClaimNumber" type="StringConstraint40" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>The claim number of the demand party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PolicyNumber" type="StringConstraint40" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The policy number of the demand party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InternalReference" type="StringConstraint40" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The Internal Reference of the demand party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LossFacts" type="String4000" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Loss facts this field only applies if the role is demander. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Remittance" type="Remittance" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>This section only applies if the role of the demand party is demander.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Insured" type="Insured">
                <xs:annotation>
                    <xs:documentation>Information related to the demanders insured.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Driver" type="Driver" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The driver of the vehilce for the demand party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RepresentativeContact" type="SubroRepresentativeContact" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The contact for the demand party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ResponderDetails">
        <xs:annotation>
            <xs:documentation>Detail information of the response party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ClaimNumber" type="StringConstraint40" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The claim number of the response party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PolicyNumber" type="StringConstraint40" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The policy number of the response party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InternalReference" type="StringConstraint40" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Theinternal refernce of the response party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Insured" type="Insured" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Insured information for response party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Driver" type="Driver" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The driver of the vehicle for the response party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RepresentativeContact" type="SubroRepresentativeContact" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Contact information for response party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Remittance">
        <xs:annotation>
            <xs:documentation>Type to describe remittance information for a party</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RemitTo" type="Cocode" minOccurs="0"/>
            <xs:element name="Address" type="Address" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Physical address information</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Phone" type="Phone" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Phone number.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Insured">
        <xs:annotation>
            <xs:documentation>Insured information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="PersonName">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="FirstName" type="StringConstraint40" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Insured first name.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="LastName" type="StringConstraint40">
                                <xs:annotation>
                                    <xs:documentation>Insured last name.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Company" type="StringConstraint40">
                    <xs:annotation>
                        <xs:documentation>Name of insured company. Used only for commercial insurance. </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="Type" type="InsuredType">
                <xs:annotation>
                    <xs:documentation>Personal or Commercial insurance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IsDriver" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Insured and driver and the same person.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LineOfInsurance" type="LineOfInsurance" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Line of Insurance indicates if coverage is Auto Liability or General Liability and is used for Special program cases</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="InsuredType">
        <xs:annotation>
            <xs:documentation>Type indicates if coverage is personal or commercial</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Commercial"/>
            <xs:enumeration value="Personal"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LineOfInsurance">
        <xs:annotation>
            <xs:documentation>Line of Insurance indicates if coverage is Auto Liability or General Liability and is used for Special program cases</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AutoLiability"/>
            <xs:enumeration value="GeneralLiability"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Driver">
        <xs:annotation>
            <xs:documentation>Driver information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FirstName" type="StringConstraint40" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>First name of driver.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastName" type="StringConstraint40" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Last name of driver.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Bailment" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Used to indicate if Bailment is applicable</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vehicle" type="Vehicle" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Vehicle information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Vehicle">
        <xs:annotation>
            <xs:documentation>Vehicle information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Year" type="Year" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Vehicle Year.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Make" type="StringConstraint40" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Vehicle Make.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Model" type="StringConstraint40" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Vehicle Model.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PlateNumber" type="StringConstraint10" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Vehicle License Plate Number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PlateState" type="State" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubroRepresentativeContact">
        <xs:annotation>
            <xs:documentation>Representative contact information for Subrogation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FullName" type="StringConstraint100" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Representative contact's full name (first and last name).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Address" type="Address" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Physical address Information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Email" type="Email" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Email Address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Phone" type="Phone" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Contact phone number.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArbRepresentativeContact">
        <xs:annotation>
            <xs:documentation>Representative contact information for Arbitration.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FirstName" type="StringConstraint25" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Representative contact's first last name.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastName" type="StringConstraint30" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Representative contact's first last name.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Address" type="Address" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Physical address Information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Email" type="Email" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Email Address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Phone" type="Phone" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Contact phone number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Fax" type="StringConstraint20" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Fax number</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Address">
        <xs:annotation>
            <xs:documentation>Address information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Address1" type="StringConstraint256" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Address 1 - street number and name (plus street suffix).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Address2" type="StringConstraint256" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Address 2 - Possibly suite number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Attention" type="StringConstraint100" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Attention line (different from first/last name and full name).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="City" type="StringConstraint100" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>City name.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="State" type="State" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>State abbreviation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Zip" type="StringConstraint20" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Postal code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Country" type="StringConstraint03" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The country code use USA or CAN</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Email">
        <xs:annotation>
            <xs:documentation>Email address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="Negotiation">
        <xs:annotation>
            <xs:documentation>Negotiation information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FromParty" type="DemandPartyRole">
                <xs:annotation>
                    <xs:documentation>The demand party role entering the negotiation data (Demander, Responder, ThirdPartyDemander, ThirdPartyResponder.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToParty" type="DemandPartyRole">
                <xs:annotation>
                    <xs:documentation>The demand party role for whom the negotiation is intended. Should be the opposite of the FromParty.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="AutoDamages" type="Money" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Amount paid for damage.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Comprehensive" type="Money" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Amount paid for damage.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="RentalExpense" type="Money" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Expense for renting a vehicle.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TowingExpense" type="Money" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Expense for towing.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OtherExpense" type="Money" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Other expenses.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OtherDescription" type="StringConstraint100" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Description of other expenses.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Deductible" type="Money" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Customer paid deductible.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TotalLoss" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indicates a total loss when true</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SalvageAmount" type="Money" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The amount expected for salvage value if a total loss.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LiabilityPercent" type="Percent" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Percentage of liability being offered.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AdmitLiability" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indicates if responder admitted the liability.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DemandOverride" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indicates the demand total was entered directly and not calculated from the other fields when true.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TotalDemand" type="Money" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Total amount being offered.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Message" type="String4000" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Message entered by the demander when entering the counter offer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="streamId" type="xs:long"/>
        <xs:attribute name="negotiationId" type="xs:long"/>
        <xs:attribute name="createdDate" type="xs:date"/>
        <xs:attribute name="negotiationType" type="NegotiationType"/>
    </xs:complexType>
    <xs:complexType name="DemandCompany">
        <xs:annotation>
            <xs:documentation>Demand party company information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cocode" type="Cocode">
                <xs:annotation>
                    <xs:documentation>AF assigned company identifier</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Subsid" type="CompanySubsidCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The subsidiary of the company</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The name of the company</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DemandPartyRole">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Demander"/>
            <xs:enumeration value="Responder"/>
            <xs:enumeration value="ThirdPartyDemander"/>
            <xs:enumeration value="ThirdPartyResponder"/>
            <xs:enumeration value="Vendor"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Payments">
        <xs:annotation>
            <xs:documentation>List of payment details</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Payment" type="Payment" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Payment">
        <xs:annotation>
            <xs:documentation>Payment detail information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FromParty" type="StringConstraint40" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The party making the payment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToParty" type="StringConstraint40" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The party receiving the payment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PaymentAmount" type="Money" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Amount of payment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GLAcctReference" type="StringConstraint40" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Used to indicate if payment should be posted to specific account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CheckNumber" type="StringConstraint20" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Check number of payment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OtherAccountReference" type="StringConstraint40" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Alternate account reference information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CheckReceivedDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Date the payment was received.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Comment" type="Text" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Payment comment.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!--  ====================================  -->
    <!--   Arb-related definitions	       -->
    <!--  ====================================  -->
    <xs:simpleType name="DocketNo">
        <xs:annotation>
            <xs:documentation>Assigned docket number.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="13"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AFCaseId">
        <xs:annotation>
            <xs:documentation>Assigned TRS Case ID.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TRSCaseId">
        <xs:annotation>
            <xs:documentation>Assigned TRS Case ID</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <!--  ====================================  -->
    <!--   Company-related definitions	       -->
    <!--  ====================================  -->
    <xs:simpleType name="Cocode">
        <xs:annotation>
            <xs:documentation>AF assigned company code.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9][0-9][0-9][0-9][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MinimalCompany">
        <xs:annotation>
            <xs:documentation>Least amount of information needed to identify member company.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:sequence>
                <xs:element name="Cocode" type="Cocode">
                    <xs:annotation>
                        <xs:documentation>AF assigned company code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Subsid" type="CompanySubsidCode" minOccurs="0"/>
            </xs:sequence>
            <xs:element name="Name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Name of company.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CoCodeCompany">
        <xs:annotation>
            <xs:documentation>AF assigned company code identifier.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cocode" type="Cocode" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>AF assigned company code.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!--  ====================================  -->
    <!--   Document-related definitions	       -->
    <!--  ====================================  -->
    <xs:complexType name="Documents">
        <xs:annotation>
            <xs:documentation>Information about the documents.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Document" type="Document" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Information about the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AttachedDocuments">
        <xs:sequence>
            <xs:element name="AttachedDocument" type="AttachedDocument" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Information on documents associated with the demand.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentAccess">
        <xs:annotation>
            <xs:documentation>Information on accessing the documents associated with the demand.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DocumentContent" type="DocumentContent" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Information on the content of the documents.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentContent">
        <xs:annotation>
            <xs:documentation>Information on the content of the documents.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ContentType" type="ContentType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Lists the mime type for the document. I .e. application/pdf.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="Uri" type="xs:anyURI">
                    <xs:annotation>
                        <xs:documentation>A uri linking to the document for download.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="File" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>A path name to the document for download. Note this only available for SFTP.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="BinaryContent" type="BinaryContent">
                    <xs:annotation>
                        <xs:documentation>The encoded bytes of the document.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="ref" type="xs:integer" use="required"/>
    </xs:complexType>
    <xs:simpleType name="NonEmptyBase64Binary" id="NonEmptyBase64Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BinaryContent">
        <xs:simpleContent>
            <xs:extension base="NonEmptyBase64Binary">
                <xs:attribute name="href" type="xs:anyURI"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ContentType" type="ContentType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Lists the mime type for the document. I .e. application/pdf.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="BinaryContent" type="BinaryContent">
                    <xs:annotation>
                        <xs:documentation>The encoded bytes of the document.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FileName" type="StringConstraint255">
                    <xs:annotation>
                        <xs:documentation>Name of the document.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="OriginalFileName" type="StringConstraint255" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The original name of the file.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IsPublic" type="xs:boolean" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Indicates if document is a public document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LogicalDocuments" type="LogicalDocuments" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Logical division of documents.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AttachedDocument">
        <xs:sequence>
            <xs:element name="CreatedByRole" type="DemandPartyRole"/>
            <xs:element name="OriginalFileName" type="StringConstraint255" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The file name that is used by the carrier for this document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IsPublic" type="xs:boolean" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Determines if the document can be viewed by the opposing party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LogicalDocuments" type="LogicalDocuments" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>An xml structure that contains LogicalDocument.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DocumentContent" type="DocumentContent" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="streamId" type="xs:long" use="required"/>
    </xs:complexType>
    <xs:complexType name="LogicalDocuments">
        <xs:sequence>
            <xs:element name="LogicalDocument" type="LogicalDocument" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Represents the various evidence items contained within the document being uploaded.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LogicalDocument">
        <xs:sequence>
            <xs:element name="DocumentType" type="DocumentType">
                <xs:annotation>
                    <xs:documentation>Defines type of document, e.g., estimate, police photos.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DocumentDescription" type="String4000" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>A description of the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DocumentType">
        <xs:restriction base="xs:string">
            <!-- xs:enumeration value="AccidentReport"/>
			<xs:enumeration value="AdditionalMaterial"/>
			<xs:enumeration value="AdjournmentRequest"/>
			<xs:enumeration value="AdjustersNotes"/>
			<xs:enumeration value="AdministrativeDocsNONViewableByArbitrator"/>
			<xs:enumeration value="AdministrativeDocsViewableByArbitrator"/>
			<xs:enumeration value="AllEvidence"/>
			<xs:enumeration value="AmendedApplication"/>
			<xs:enumeration value="AmendedApplicationMaterialsBundle"/>
			<xs:enumeration value="AmendedContentions"/>
			<xs:enumeration value="AmendedEvidence"/>
			<xs:enumeration value="AmendedResponse"/>
			<xs:enumeration value="AmendedResponseMaterialsBundle"/>
			<xs:enumeration value="ApplicantRecordedStatement"/>
			<xs:enumeration value="ApplicantWrittenStatement"/>
			<xs:enumeration value="Application"/>
			<xs:enumeration value="ApplicationMaterialsBundle"/>
			<xs:enumeration value="Appraisal"/>
			<xs:enumeration value="BailmentForm"/>
			<xs:enumeration value="BBValue"/>
			<xs:enumeration value="BillofLadings"/>
			<xs:enumeration value="BillofSale"/>
			<xs:enumeration value="BriefofLaw"/>
			<xs:enumeration value="CaseLaw"/>
			<xs:enumeration value="Check"/>
			<xs:enumeration value="ClaimForm"/>
			<xs:enumeration value="Company1RecordedStatement"/>
			<xs:enumeration value="Company1VehicleDamagesPhotos"/>
			<xs:enumeration value="Company1WrittenStatement"/>
			<xs:enumeration value="Company2RecordedStatement"/>
			<xs:enumeration value="Company2VehicleDamagesPhotos"/>
			<xs:enumeration value="Company2WrittenStatement"/>
			<xs:enumeration value="Contentions"/>
			<xs:enumeration value="Contract"/>
			<xs:enumeration value="CopyofInsPolicy"/>
			<xs:enumeration value="Correspondence"/>
			<xs:enumeration value="CoverageDenialLetter"/>
			<xs:enumeration value="Decision"/>
			<xs:enumeration value="Deductible"/>
			<xs:enumeration value="DefermentChallenge"/>
			<xs:enumeration value="DefermentRequest"/>
			<xs:enumeration value="DenialLetter"/>
			<xs:enumeration value="DiminishedValueDocumentation"/>
			<xs:enumeration value="EmployeeStatement"/>
			<xs:enumeration value="EngineerReport"/>
			<xs:enumeration value="Estimate"/>
			<xs:enumeration value="ExpertReport"/>
			<xs:enumeration value="ExplanationofBenefits"/>
			<xs:enumeration value="FileReceived"/>
			<xs:enumeration value="FireMarshallReport"/>
			<xs:enumeration value="InterCompanyReimbursementNotificationForm"/>
			<xs:enumeration value="InvestigativeReport"/>
			<xs:enumeration value="Invoice"/>
			<xs:enumeration value="Lawsuit"/>
			<xs:enumeration value="LegalBills"/>
			<xs:enumeration value="LiabilityDenialLetter"/>
			<xs:enumeration value="LicenseorCertification"/>
			<xs:enumeration value="ListofContents"/>
			<xs:enumeration value="LossofUseProvision"/>
			<xs:enumeration value="MedicalBills"/>
			<xs:enumeration value="MedicalBillsReport"/>
			<xs:enumeration value="MedicalReports"/>
			<xs:enumeration value="MedpayLedger"/>
			<xs:enumeration value="MiscellaneousLetter"/>
			<xs:enumeration value="MotorVehicleAccidentReport"/>
			<xs:enumeration value="NoticeofLien"/>
			<xs:enumeration value="OriginCauseReport"/>
			<xs:enumeration value="Other"/>
			<xs:enumeration value="PaymentHistory"/>
			<xs:enumeration value="Photograph"/>
			<xs:enumeration value="PIPApplication"/>
			<xs:enumeration value="PIPLedger"/>
			<xs:enumeration value="PoliceReport"/>
			<xs:enumeration value="PoliceReportOverlay"/>
			<xs:enumeration value="PolicyCancellationLetter"/>
			<xs:enumeration value="PolicyDeclarations"/>
			<xs:enumeration value="PolicyLanguage"/>
			<xs:enumeration value="ProofofDamages"/>
			<xs:enumeration value="ProofofLitigationFiling"/>
			<xs:enumeration value="ProofofLoss"/>
			<xs:enumeration value="ProofofPayment"/>
			<xs:enumeration value="PurchaseInvoice"/>
			<xs:enumeration value="Rebuttal"/>
			<xs:enumeration value="RecordedStatement"/>
			<xs:enumeration value="ReferenceMaterial"/>
			<xs:enumeration value="ReleaseForm"/>
			<xs:enumeration value="RentalAgreement"/>
			<xs:enumeration value="RentalBillReceipt"/>
			<xs:enumeration value="Report"/>
			<xs:enumeration value="RescheduleRequest"/>
			<xs:enumeration value="ReservationofRightsLetter"/>
			<xs:enumeration value="RespondentRecordedStatement"/>
			<xs:enumeration value="RespondentWrittenStatement"/>
			<xs:enumeration value="Response"/>
			<xs:enumeration value="ResponseMaterialsBundle"/>
			<xs:enumeration value="RulesoftheRoad"/>
			<xs:enumeration value="SalvageInvoice"/>
			<xs:enumeration value="SalvageReport"/>
			<xs:enumeration value="SceneDiagram"/>
			<xs:enumeration value="ScenePhotograph"/>
			<xs:enumeration value="ShippingReportPostInspection"/>
			<xs:enumeration value="ShippingReportPreInspection"/>
			<xs:enumeration value="Statement"/>
			<xs:enumeration value="StatementDriver"/>
			<xs:enumeration value="StatementOtherDriver"/>
			<xs:enumeration value="StatementPassenger"/>
			<xs:enumeration value="StatementOtherPassenger"/>
			<xs:enumeration value="StatementWitness"/>
			<xs:enumeration value="Statute"/>
			<xs:enumeration value="SubDocument"/>
			<xs:enumeration value="SupplementPayments"/>
			<xs:enumeration value="TotalLossEvaluation"/>
			<xs:enumeration value="TowandorStorageBill"/>
			<xs:enumeration value="Undefer"/>
			<xs:enumeration value="UndeliverableMail"/>
			<xs:enumeration value="Unknown"/>
			<xs:enumeration value="VehicleCode"/>
			<xs:enumeration value="VehicleDamagePhotos"/>
			<xs:enumeration value="WageVerification"/>
			<xs:enumeration value="WithdrawRequest"/>
			<xs:enumeration value="WitnessRecordedStatement"/>
			<xs:enumeration value="WitnessWrittenStatement"/>
			<xs:enumeration value="WorkersCompStatue"/>
			<xs:enumeration value="WrittenConsentLetter"/>
			<xs:enumeration value="WrittenStatement"/ -->
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EstimateDocuments">
        <xs:sequence>
            <xs:element name="Document" type="EstimateDocument" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EstimateDocument">
        <xs:sequence>
            <xs:element name="ContentType" type="ContentType" minOccurs="1" maxOccurs="1"/>
            <xs:choice>
                <xs:element name="BinaryContent" type="BinaryContent"/>
                <xs:element name="FileName" type="StringConstraint255"/>
            </xs:choice>
            <xs:element name="OriginalFileName" type="StringConstraint255" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Response">
        <xs:sequence>
            <xs:element name="status" type="StatusCode"/>
            <xs:element name="errorCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ErrorMessage" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonName">
        <xs:sequence>
            <xs:element name="FirstName" type="xs:string" minOccurs="0"/>
            <xs:element name="LastName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <!--   Arb-related types  -->
    <xs:complexType name="Injured">
        <xs:annotation>
            <xs:documentation>Type for information about a party's injured party</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FirstName" type="StringConstraint25" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>First name of injured party</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastName" type="StringConstraint30" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Last name of injured party</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PartyStatus" type="PartyStatusType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Status of injured party</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyStatusType">
        <xs:annotation>
            <xs:documentation>Type describing the injured party</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Driver"/>
            <xs:enumeration value="Occupant"/>
            <xs:enumeration value="Pedestrian"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ProgramType">
        <xs:annotation>
            <xs:documentation>Type to describe the AF program under which a case was docketed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Automobile"/>
            <xs:enumeration value="Medpay"/>
            <xs:enumeration value="PIP"/>
            <xs:enumeration value="Property"/>
            <xs:enumeration value="Special"/>
            <xs:enumeration value="UninsuredMotorist"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Evidence">
        <xs:annotation>
            <xs:documentation>Type for all evidence information for a party</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="EvidenceItem" type="EvidenceItem" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EvidenceItem">
        <xs:annotation>
            <xs:documentation>Type for a specific evidence item</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Type" type="DocumentType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Type of evidence item</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Description" type="StringConstraint2000" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Description of evidence item</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Damage">
        <xs:annotation>
            <xs:documentation>Type for a specific damage item</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Type" type="DamageType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Type of Damage</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Description" type="StringConstraint4000" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Description of Damage</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Amount" type="Money" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Dollar Amount of Damage</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Damages">
        <xs:annotation>
            <xs:documentation>Type for all damage items for a case</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Damage" type="Damage" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TRSDamages">
        <xs:annotation>
            <xs:documentation>Type for all damage items for a case</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Damage" type="TRSDamage" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TRSDamage">
        <xs:sequence>
            <xs:element name="Type" type="TRSDamageType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Type of Damage</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Description" type="StringConstraint4000" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Description of Damage</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Amount" type="Money" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Dollar Amount of Damage</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Company">
        <xs:annotation>
            <xs:documentation>Type for company and subsidiary information</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CoCode" type="Cocode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>AF member number of group company for the party</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="StringConstraint40" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Name of Group Company associated with cocode.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Subsidiary" type="Subsidiary" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Subsidiary information for the company</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Subsidiary">
        <xs:annotation>
            <xs:documentation>Type to describe a company's subsidiary information</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Subsid" type="CompanySubsidCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Type for subsid code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="StringConstraint40" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Name of subsidiary company</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DemandStatus">
        <xs:annotation>
            <xs:documentation>Status of the demand</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AcceptancePending"/>
            <xs:enumeration value="Accepted"/>
            <xs:enumeration value="Closed"/>
            <xs:enumeration value="Denied"/>
            <xs:enumeration value="FirstNoticeOfSubrogation"/>
            <xs:enumeration value="InArbitration"/>
            <xs:enumeration value="InNegotiation"/>
            <xs:enumeration value="Issued"/>
            <xs:enumeration value="New"/>
            <xs:enumeration value="Pending"/>
            <xs:enumeration value="ReducedPaymentPending"/>
            <xs:enumeration value="Settled"/>
            <xs:enumeration value="Unknown"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>