schemas/afcommand/xsd/AFTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://dint.arbfile.org/standard/v4" targetNamespace="http://dint.arbfile.org/standard/v4" elementFormDefault="qualified">
    <!--  Simple Types  -->
    <xs:simpleType name="BusinessUnitName">
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Date">
        <xs:union memberTypes="xs:date">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:length value="0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="Money">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="10"/>
                    <xs:fractionDigits value="2"/>
                    <xs:maxInclusive value="99999999.99"/>
                    <xs:minInclusive value="-99999999.99"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:length value="0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="PositiveMoney">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="10"/>
                    <xs:fractionDigits value="2"/>
                    <xs:maxInclusive value="99999999.99"/>
                    <xs:minInclusive value="0"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:length value="0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="NumberConstraint16">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="16"/>
                    <xs:fractionDigits value="0"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:length value="0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="NumberConstraint20">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="20"/>
                    <xs:fractionDigits value="0"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:length value="0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="Percent">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="3"/>
                    <xs:fractionDigits value="0"/>
                    <xs:maxInclusive value="100"/>
                    <xs:minInclusive value="0"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:length value="0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="NonEmptyPercent">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="3"/>
            <xs:fractionDigits value="0"/>
            <xs:maxInclusive value="100"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EmptyString">
        <xs:restriction base="xs:string">
            <xs:length value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Character">
        <xs:restriction base="xs:string">
            <xs:length value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Year">
        <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CompanySubsidCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9][0-9][0-9][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="State">
        <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Phone">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Text">
        <xs:restriction base="xs:string">
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String4000">
        <xs:restriction base="xs:string">
            <xs:maxLength value="4000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringConstraint02">
        <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringConstraint03">
        <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringConstraint05">
        <xs:restriction base="xs:string">
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringConstraint10">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringConstraint13">
        <xs:restriction base="xs:string">
            <xs:maxLength value="13"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringConstraint16">
        <xs:restriction base="xs:string">
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringConstraint20">
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringConstraint25">
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringConstraint30">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringConstraint40">
        <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringConstraint100">
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringConstraint255">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringConstraint256">
        <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringConstraint300">
        <xs:restriction base="xs:string">
            <xs:maxLength value="300"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringConstraint2000">
        <xs:restriction base="xs:string">
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringConstraint1000">
        <xs:restriction base="xs:string">
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringConstraint3900">
        <xs:restriction base="xs:string">
            <xs:maxLength value="3900"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NonEmptyStringConstraint3900">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3900"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringConstraint4000">
        <xs:restriction base="xs:string">
            <xs:maxLength value="4000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StringConstraint16000">
        <xs:restriction base="xs:string">
            <xs:maxLength value="16000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YNFlag">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Y"/>
            <xs:enumeration value="N"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CloseType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Abandoned"/>
            <xs:enumeration value="ArbitrationDocketHeardAndClosed"/>
            <xs:enumeration value="DamagesReceivedLessThanRequested"/>
            <xs:enumeration value="Denied"/>
            <xs:enumeration value="FiledInError"/>
            <xs:enumeration value="FilingArbitration"/>
            <xs:enumeration value="Inactive"/>
            <xs:enumeration value="NoDamagesReceivedOrReferredToOtherVendor"/>
            <xs:enumeration value="ReceivedTotalDamagesRequested"/>
            <xs:enumeration value="Settled"/>
            <xs:enumeration value="Other"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MsgType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Private"/>
            <xs:enumeration value="Public"/>
            <xs:enumeration value="Negotiation"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DenialType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ClaimPreviouslySettled"/>
            <xs:enumeration value="LossNotCovered"/>
            <xs:enumeration value="NoLiability"/>
            <xs:enumeration value="NoPolicyExists"/>
            <xs:enumeration value="Other"/>
            <xs:enumeration value="PolicyLimitsPaidExceeded"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ErrorCode">
        <xs:restriction base="xs:long">
            <xs:enumeration value="400"/>
            <xs:enumeration value="500"/>
            <xs:enumeration value="503"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DamageType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AutoDamage"/>
            <xs:enumeration value="AllocatedExpenses"/>
            <xs:enumeration value="DeathBenefit"/>
            <xs:enumeration value="DebrisRemoval"/>
            <xs:enumeration value="EmergencyRepairs"/>
            <xs:enumeration value="FilingFee"/>
            <xs:enumeration value="GovermentCodeUpgrades"/>
            <xs:enumeration value="InjurySettlement"/>
            <xs:enumeration value="AdditionalLivingExpense"/>
            <xs:enumeration value="LumpSumSettlement"/>
            <xs:enumeration value="LossOfUse"/>
            <xs:enumeration value="LossOfWages"/>
            <xs:enumeration value="MedicalExpenses"/>
            <xs:enumeration value="NoFaultOther"/>
            <xs:enumeration value="Other"/>
            <xs:enumeration value="RepairCost"/>
            <xs:enumeration value="Rental"/>
            <xs:enumeration value="ShippingCharge"/>
            <xs:enumeration value="SalvageExpense"/>
            <xs:enumeration value="SalvageInvoice"/>
            <xs:enumeration value="TowingandStorage"/>
            <xs:enumeration value="UnallocatedExpenses"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TRSDamageType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AddToValuation"/>
            <xs:enumeration value="AutoDamage"/>
            <xs:enumeration value="Deductible"/>
            <xs:enumeration value="DiminishedValue"/>
            <xs:enumeration value="Fees"/>
            <xs:enumeration value="LegalFees"/>
            <xs:enumeration value="LossOfUse"/>
            <xs:enumeration value="PersonalProperty"/>
            <xs:enumeration value="PriorDamage"/>
            <xs:enumeration value="Rental"/>
            <xs:enumeration value="SalvageExpense"/>
            <xs:enumeration value="SalvageRecovery"/>
            <xs:enumeration value="Storage"/>
            <xs:enumeration value="TaxAmount"/>
            <xs:enumeration value="Teardown"/>
            <xs:enumeration value="Towing"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NegotiationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AcceptedDemander"/>
            <xs:enumeration value="AcceptedResponder"/>
            <xs:enumeration value="AcceptancePendingDemander"/>
            <xs:enumeration value="AcceptancePendingResponder"/>
            <xs:enumeration value="AcknowledgeDemanderAcceptance"/>
            <xs:enumeration value="AddEvidenceDemander"/>
            <xs:enumeration value="AddEvidenceResponder"/>
            <xs:enumeration value="AddMessageDemander"/>
            <xs:enumeration value="AddMessageResponder"/>
            <xs:enumeration value="Amended"/>
            <xs:enumeration value="ArbitrationResponseSubmitted"/>
            <xs:enumeration value="ArbitrationSubmitted"/>
            <xs:enumeration value="ClearMessageFlagDemander"/>
            <xs:enumeration value="ClearMessageFlagResponder"/>
            <xs:enumeration value="Closed"/>
            <xs:enumeration value="CounteredDemander"/>
            <xs:enumeration value="CounteredResponder"/>
            <xs:enumeration value="CounteredWithReducedPayment"/>
            <xs:enumeration value="Denied"/>
            <xs:enumeration value="EditedDamages"/>
            <xs:enumeration value="EditEvidenceDemander"/>
            <xs:enumeration value="EditEvidenceResponder"/>
            <xs:enumeration value="FirstNoticeOfLoss"/>
            <xs:enumeration value="Initial"/>
            <xs:enumeration value="Investigation"/>
            <xs:enumeration value="Issued"/>
            <xs:enumeration value="ManuallySettled"/>
            <xs:enumeration value="New"/>
            <xs:enumeration value="Other"/>
            <xs:enumeration value="OwnershipRejected"/>
            <xs:enumeration value="PaymentIDGenerationError"/>
            <xs:enumeration value="PaymentSent"/>
            <xs:enumeration value="PendingDemander"/>
            <xs:enumeration value="PendingResponder"/>
            <xs:enumeration value="ReducedPayment"/>
            <xs:enumeration value="RejectedPayment"/>
            <xs:enumeration value="Reopened"/>
            <xs:enumeration value="ReplyToRequestDemander"/>
            <xs:enumeration value="ReplyToRequestResponder"/>
            <xs:enumeration value="RequestForInformationDemander"/>
            <xs:enumeration value="RequestForInformationResponder"/>
            <xs:enumeration value="ResponderPaymentApprovalNotReceived"/>
            <xs:enumeration value="Revised"/>
            <xs:enumeration value="SentToArbitration"/>
            <xs:enumeration value="SupplementEntered"/>
            <xs:enumeration value="SupplementIssued"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StatusCode">
        <xs:restriction base="xs:long">
            <xs:enumeration value="200"/>
            <xs:enumeration value="400"/>
            <xs:enumeration value="500"/>
            <xs:enumeration value="503"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyNumber">
        <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PendingType">
        <xs:annotation>
            <xs:documentation>Type indicates if demand is pended because of FNOL or Investigating</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FNOL"/>
            <xs:enumeration value="Investigate"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ContentType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="DemandOverrideReason">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Apportionment"/>
            <xs:enumeration value="Other"/>
            <xs:enumeration value="PolicyLimit"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>